@model IEnumerable<NewsWeb.Models.News>

@{
    ViewBag.Title = "Home Page";
    //01060980984
}

<div class="jumbotron">
    <h1>News website</h1>
    <p class="lead">Welcome to news web, A website built using ASP.NET, Jquery and Ajax.</p>
</div>

<div class="row">

    <div class="col-sm-4">
        @if (Model.Count() >= 1)
        {
            <div class="news-action card">
                <h3 class="card-header">@Model.ElementAt(0).ArticleTitle</h3>

                <img style="height: 200px; width: 80%; display: block;" src="@Model.ElementAt(0).ImageUrl" alt="Card image">

                <div class="card-footer text-muted">
                    @NewsWeb.Models.NewsViewModel.getDifference(Model.ElementAt(0).PublicationDate)
                </div>
                <p class="news-id" hidden>@Model.ElementAt(0).NewsID</p>

            </div>
        }
    </div>


    <div class="col-sm-8">
        <div class="row">
            @if (Model.Count() >= 2)
            {
                <div class="news-action card col-sm-6">
                    <h3 class="card-header">@Model.ElementAt(1).ArticleTitle</h3>

                    <img style="height: 200px; width: 80%; display: block;" src="@Model.ElementAt(1).ImageUrl" alt="Card image">

                    <div class="card-footer text-muted">
                        @NewsWeb.Models.NewsViewModel.getDifference(Model.ElementAt(1).PublicationDate)
                    </div>
                    <p class="news-id" hidden>@Model.ElementAt(1).NewsID</p>
                </div>
            }

            @if (Model.Count() >= 3)
            {
                <div class="news-action card col-sm-6">
                    <h3 class="card-header">@Model.ElementAt(2).ArticleTitle</h3>

                    <img style="height: 200px; width: 80%; display: block;" src="@Model.ElementAt(2).ImageUrl" alt="Card image">

                    <div class="card-footer text-muted">
                        @NewsWeb.Models.NewsViewModel.getDifference(Model.ElementAt(2).PublicationDate)
                    </div>
                    <p class="news-id" hidden>@Model.ElementAt(2).NewsID</p>
                </div>
            }
        </div>

        <div class="row">
            @if (Model.Count() >= 4)
            {
                <div class="news-action card col-sm-6">
                    <h3 class="card-header">@Model.ElementAt(3).ArticleTitle</h3>

                    <img style="height: 200px; width: 80%; display: block;" src="@Model.ElementAt(3).ImageUrl" alt="Card image">

                    <div class="card-footer text-muted">
                        @NewsWeb.Models.NewsViewModel.getDifference(Model.ElementAt(3).PublicationDate)
                    </div>
                    <p class="news-id" hidden>@Model.ElementAt(3).NewsID</p>
                </div>
            }

            @if (Model.Count() >= 5)
            {
                <div class="news-action card col-sm-6">
                    <h3 class="card-header">@Model.ElementAt(4).ArticleTitle</h3>

                    <img style="height: 200px; width: 80%; display: block;" src="@Model.ElementAt(4).ImageUrl" alt="Card image">

                    <div class="card-footer text-muted">
                        @NewsWeb.Models.NewsViewModel.getDifference(Model.ElementAt(4).PublicationDate)
                    </div>
                    <p class="news-id" hidden>@Model.ElementAt(4).NewsID</p>
                </div>
            }
        </div>
    </div>

</div>
<br />
<div class="row">
    @for (int i = 5; i < Model.Count(); i++)
    {
        <div class="news-action card col-sm-6">
            <h3 class="card-header">@Model.ElementAt(i).ArticleTitle</h3>

            <img style="height: 200px; width: 80%; display: block;" src="@Model.ElementAt(i).ImageUrl" alt="Card image">

            <div class="card-footer text-muted">
                @NewsWeb.Models.NewsViewModel.getDifference(Model.ElementAt(i).PublicationDate)
            </div>
            <p class="news-id" hidden>@Model.ElementAt(i).NewsID</p>
        </div>
    }
</div>

@section scripts{

    <script>
        $(function () {

            $(".news-action").css("cursor", "pointer");
            $(".news-action").click(function () {
                window.location.href = "/news/view/" + $(this).children(".news-id").first().text();
            });

        });
    </script>

}